body {
    background-color: black;
  }

  .logo-color{
    color: #F8D137;
  }

  .title{
    font-family: "Rubik", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 60px;
    text-align: center;
    color: white;
  }

  .subtitle{
    font-family: "Rubik", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    font-size: 32px;
    color: white;
  }

  .buttons{
    font-family: "Rubik", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    font-size: 32px;
    color: white;
  }

  .made-by-sim{
    font-family: "Rubik", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    font-size: 24px;
    color: #F8D137;
  }