body {
    background-color: black;
  }

  .logo-color{
    color: #F8D137;
  }

  .title{
    font-family: "Rubik", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 60px;
    text-align: center;
    color: white;
    margin-top: 220px;
    margin-bottom: 10px;
  }

  .subtitle{
    font-family: "Rubik", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    font-size: 32px;
    color: white;
    margin-bottom: 40px;
    margin-top: 10px;
  }

  .made-by-sim{
    font-family: "Rubik", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    font-size: 14px;
    color: #F8D137;
    margin-top: 220px;
  }